.container {
  background-color: #ccc;
  height: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item {
  background-color: #333;
  box-sizing: border-box;
  color: #fff;
  padding: 20px;
  margin: 5px;
  width: 40%;
}

@media only screen and (max-width: 414px){
  .container {
    background-color: olive;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .item {
    background-color: orange;
    width: 50%;
  }
}